/* General CSS Styling */
@font-face {
    font-family: 'Hauora Sans';
    src: url(/HauoraSansFontsOTF/Hauora-Regular.otf);
}
* {
    color: white;
    font-family: 'Hauora Sans';
    text-decoration: none;
    margin: 0px;
}
html, body {
    max-width: 100%;
}
body {
    margin: 0px;
    background-color: black;
}


#header {
    position: sticky;
    background-color: rgb(40, 40, 40);
    opacity: 0.95;
    width: 100%;
    top: 0;
    z-index: 999;
    border-bottom: 2px solid grey;
}
#navbar-title {
    font-size: clamp(40px,4vw,50px);
    margin: 0px 5px;
    padding-left: 5px;
    place-self: center;
    text-align: center;
    font-weight: bolder;
}
#navbar {
    display: grid;
    grid-template-columns: minmax(200px,55%) minmax(0px, 100%-580px) minmax(150px,35%);
    font-size: 18px;
    padding: 10px 0px;
}
#navbar-locators {
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    grid-column: 3 / 4;
    justify-content: space-around;
    align-items: center;
}
.navbar-locator {
    color: rgb(200, 200, 200);
    font-size: clamp(18px,1.5vw,24px);
    font-weight: bolder;
    margin: 5px 5px;
}
.not-current-location:hover {
    text-decoration: underline;
}
.current-location {
    font-size: clamp(20px,1.8vw,30px);
    color: white;
}


footer {
    display: grid;
    grid-template-columns: repeat(3,minmax(117px,33%));
    grid-template-rows: 50px 20px;
    background-color: rgb(40, 40, 40);
    padding: 10px 0px 5px;
    border-top: 2px solid grey;
}
#contact-button {
    color: white;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    font-size: clamp(15px,1.5vw,20px);
    place-self: center;
    margin-bottom: 15px;
}
#contact-button:hover {
    text-decoration: underline;
}
#footer-logo {
    height: 70px;
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
    place-self: end;
    padding-bottom: 5px;
}

#trademark-section {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    place-self: center;
    margin-bottom: 15px;
    width: max-content;
    font-size: clamp(15px,1.5vw,20px);
}



/* Index CSS Styling */
#welcome {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 20px minmax();
    place-content: center;
}
.introduction-text {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    font-size: clamp(18px,1.5vw,36px);
    margin: 10px 0px;
}
#welcome-header {
    grid-column: 2 / span 1;
    font-size: clamp(25px,3vw,50px);
    margin: 20px 0px 0px;
    color: rgb(50, 50, 255);
}


#slideshow-title {
    margin: 40px 0px 0px;
    display: block;
    text-align: center;
    font-size: clamp(20px,1.67vw,40px);;
}
#slideshow {
    display: grid;
    grid: auto 35px / 15% 70% 15%;
    place-items: center;
    place-content: center;
    overflow-x: hidden;
    margin: 20px 0px;
    width: 100%;
}
.slideshow-display-container {
    display: flex;
    flex-flow: column nowrap;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
.slideshow-caption {
    align-self: center;
    max-width: 50vw;
    height: auto;
    margin: 5px 0px 0px;
    text-align: center;
    font-size: 15px;
}
.slideshow-image {
    width: 65vw;
    height: 50vw;
    object-fit: cover;
    border-radius: 2vw;
}
@media screen and (min-width: 1000px) {
    .slideshow-image {
        width: 65vw;
        height: 65vh;
        object-fit: cover;
        border-radius: 2vw;
    }
}
.slideshow-transition {
    transition: all 1s ease-in-out;
}
.slideshow-left, .slideshow-right, .slideshow-far-right, .slideshow-far-left {
    filter: blur(15px);
}
.slideshow-left {
    transform: translateX(-70vw);
}
.slideshow-far-left {
    transform: translateX(-140vw);
}
.slideshow-right {
    transform: translateX(70vw);
}
.slideshow-far-right {
    transform: translateX(140vw);
}
.slideshow-hidden {
    display: none;
}
#slideshow-image-5 {
    background-color: rgb(255, 255, 255);
    object-fit: contain;
}
#slideshow-image-6 {
    background-color: rgba(255, 255, 255);
    object-fit: contain;
}




.slideshow-navbar {
    margin-top: 15px;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}
.slideshow-locator {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: grey;
    margin: 0px 2px;
    transition: all 250ms;
}
.active-slideshow-locator {
    background-color: white;
}




/* Resume CSS Styling */
#resume-introduction-text-grid, #projects-introduction-text-grid {
    display: grid;
    grid: auto / 10% 80% 10%;
}
#resume-introduction-text, #projects-introduction-text {
    font-size: 40px;
    grid-column: 2 / span 1;
    margin: 100px 0px 0px;
    align-self: center;
}
#resume-options, #projects-options {
    margin: 50px 5vw;
    border-radius: 30px;
    display: flex;
    flex-flow: wrap;
    place-content: center space-around;
    max-width: 700px;
    background: rgb(70, 70, 70);
    width: auto;
    border: 2px solid white;
}
#resume-filters, #projects-filters {
    border-radius: 30px;
    padding: 5px 5px 5px 15px;
    display: flex;
    flex-flow: wrap;
    place-content: center space-around;
    background: rgb(70, 70, 70);
    align-content: stretch;
}
#filter-title {
    font-size: 30px;
    margin-right: 15px;
}
#filter-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.filter {
    border: 2px solid white;
    border-radius: 10px;
    padding: 1px 5px;
    margin: 2px 6px;
    cursor: pointer;
    transition: all 0.4s ease-out;
}
.software-filter {
    background-color: rgba(0, 140, 255, 0.6);
}
.education-filter {
    background-color: rgba(0, 255, 234, 0.6);
}
.hospitality-filter {
    background-color: rgba(0, 255, 0, 0.7);
}
.community-filter {
    background-color: rgba(255, 166, 0, 0.9);
}
.teamwork-filter {
    background-color: rgb(255, 0, 0);
}
.html-filter {
    background-color: rgba(255, 166, 0, 0.9);
}
.css-filter {
    background-color: rgb(255, 255, 0);
    color: black;
}
.js-filter {
    background-color: purple;
}
.filter-selected {
    transform: scale(115%);
}
#resume-ordering, #projects-ordering {
    font-size: 18px;
    display: flex;
    flex-flow: wrap;
    padding: 2px 5px;
    justify-content: center;
    align-items: baseline;
    font-weight: bolder;
}
.ordering-selector {
    color: white;
    font-size: 15px;
    background-color: transparent;
    border-radius: 10px;
    margin: 5px 5px 5px 10px;
    border: none;
    width: auto;
    cursor: pointer;
}
.ordering-selector-option {
    background: rgb(70, 70, 70);
    text-align: center;
    margin-right: 5px;
}




#experience-list, #project-list {
    display: flex;
    margin: 0px 5%;
}
.experience-list-latest, .project-list-latest {
    flex-flow: column;
}
.experience-list-earliest, .project-list-earliest {
    flex-flow: column-reverse;
}
.major-experience, .project {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto auto;
    margin: 15px 0px;
    padding: 10px;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 255, 0.2),rgba(128, 128, 128, 0.2));
    border: 1px solid grey;
}
.experience, .project {
    background-color: black;
}
.team-project {
    background-image: linear-gradient(rgba(255, 0, 0, 0.2),rgba(128, 128, 128, 0.2));
}
.experience-text, .project-text {
    grid-row: 1 / span 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 5px 5%;
    grid-column: 1 / span 1;
    font-size: 20px;
    font-style: italic;
}
.project-title-and-link {
    display: flex;
}
.project-link {
    margin-left: 20px;
    border-radius: 18px;
    height: 30px;
    padding: 3px;
    width: 30px;
    font-size: 15px;
    font-style: normal;
    align-self: center;
    transition: all 0.3s ease-out;
    background-color: white;
}
.project-link:hover {
    transform: scale(125%);
    margin-left: 25px;
}
.experience-title, .project-title {
    font-size: 25px;
    font-style: normal;
}
.experience-subtitle, .project-subtitle {
    font-size: 15px;
    font-style: normal;
}
.experience-filters, .project-filters {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    margin-left: 2%;
    font-size: 15px;
    font-style: normal;
}
.experience-filter, .project-filter {
    border: 1px solid black;
    padding: 1px 5px;
    border-radius: 15px;
    margin: 5px;
    font-size: 13px;
}
.experience-explanation, .project-explanation {
    margin-left: 8%;
    text-indent: -22px;
    font-size: 15px;
    font-style: normal;
}
.experience-image-container, .project-image-container {
    display: flex;
    height: 100%;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
@media screen and (max-width:600px) {
    .experience-image-container, .project-image-container {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
        padding: 20px;
    }
    .experience-text, .project-text {
        grid-column: 1 / span 2;
        margin: 5px 5% 20px;
    }
    .major-experience, .project {
        padding-bottom: 50px;
    }
}
.experience-image, .project-image {
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}
#experience-image-3 {
    background-color: rgb(255, 255, 255);
    object-fit: contain;
}
#experience-image-4 {
    background-color: rgba(255, 255, 255);
    object-fit: contain;
}
.experience-image-reference {
    font-size: 10px;
    margin-left: -20px;
    margin-top: 10px;
}


.minor-experience {
    display: flex;
    flex-flow: column;
    margin: 5px 0px;
    padding: 8px 8px 8px 16px;
    border-radius: 15px;
    width: 80%;
    align-self: center;
    justify-content: center;
    background-image: linear-gradient(rgba(128, 128, 128, 0.2),rgba(255, 255, 255, 0.2));
    border: 1px solid grey;
}
.minor-experience-headings {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.minor-experience-filters {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    margin-left: 2%;
    margin-top: -5px;
}
.minor-experience-filter {
    border: 1px solid black;
    padding: 1px 5px;
    border-radius: 15px;
    margin: 3px 5px 2px;
    font-size: 13px;
}
.minor-experience-title {
    font-size: 18px;
}
.minor-experience-subtitle {
    margin-left: 20px;
    margin-top: 2px;
}
.minor-experience-explanation {
    margin-left: 8%;
    text-indent: -22px;
    font-size: 14px;
}
#footnotes {
    margin-top: 50px;
    padding: 5px 5px 10px 20px;
    border-top: 1px solid white;
    background-color: rgb(40, 40, 40);
    font-size: 15px;
}
#footnote-link-1:hover {
    text-decoration: underline;
}
#resume-footer, #projects-footer {
    border: none;
}



/* Profile CSS Styling */
#profile-section {
    background-color: rgb(100, 100, 100);
    border-radius: 15px;
    padding: 10px;
    margin: 50px 20px;
    display: flex;
    flex-flow: column;
}
#profile-photo-container {
    display: flex;
    place-items: center;
    place-content: center;
    grid-row: 1 / span 2;
    margin-right: 20px;
}
#profile-photo {
    font-size: 20px;
    border: 5px solid goldenrod;
    padding: 5px;
    border-radius: 10px;
}
#about-me-section {
    display: grid;
    grid-template-columns: 40% 60%;
}
.about-me-sub-section {
    background-color: rgb(50, 50, 50);
    border-radius: 15px;
    padding: 10px;
}
#about-me-text {
    padding: 5px 10px;
}
.profile-details {
    background-color: rgb(30, 30, 30);
    box-shadow: 1px 1px white;
    border-radius: 15px;
    padding: 2px 10px 5px;
    margin-bottom: 10px;
    text-align: center;
}
#profile-buzzwords-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 15px;
    font-size: clamp(12px,1vw,40px);
}
.profile-buzzwords {
    margin: 0px 1px;
}
#profile-name-and-age {
    font-size: clamp(30px,4vw,60px);
}
#profile-age {
    font-size: clamp(20px,2.7vw,40px);
}
#profile-career {
    color: rgb(100, 100, 255);
    font-size: clamp(20px,2.7vw,40px);
}
#contact-details {
    grid-column: 2 / span 1;
    display: flex;
    flex-flow: column;
    place-items: center;
    margin-top: 20px;
    padding: 2px 0px 0px;
    background-image: linear-gradient(rgba(0, 0, 255, 0.7),rgb(50, 50, 50));
    border-radius: 30px;
    box-shadow: 2px 2px white;
    font-weight: bolder;
}
#profile-bio {
    font-size: clamp(15px,1vw,45px);
    margin: 30px 5px 10px;
}
.contact-option {
    display: flex;
    place-items: center;
    margin: 5px 0px;
    border-radius: 10px;
    transition: all 1s;
    overflow-x: hidden;
    font-weight: 500;
}
.contact-option-link {
    transition: all 1s;
}
#contact-option-1:hover  #contact-option-logo-1 {
    transform: translateX(0);
}
#contact-option-1:hover #contact-option-link-1 {
    transform: translateX(0) scaleX(100%);
}
#contact-option-2:hover  #contact-option-logo-2 {
    transform: translateX(0);
}
#contact-option-2:hover #contact-option-link-2 {
    transform: translateX(0) scaleX(100%);
}
#contact-option-3:hover  #contact-option-logo-3 {
    transform: translateX(0);
}
#contact-option-3:hover #contact-option-link-3 {
    transform: translateX(0) scaleX(100%);
}
.contact-option-link {
    margin-left: -15px;
    text-align: center;
    transition: all 1s;
    color: black;
    background-color: white;
    padding: 11px 0px 12px 15px;
    border-radius: 10px;
}
#contact-option-link-1 {
    width: 110px;
    transform: translateX(-30%) scaleX(60%);
}
#contact-option-link-2 {
    width: 260px;
    height: 22px;
    transform: translateX(-10%) scaleX(22%);
    transition: all 1.66s;
}
#contact-option-link-3 {
    width: 120px;
    transform: translateX(-25%) scaleX(60%);
}
#contact-option-link-3:hover {
    text-decoration: underline;
}
.contact-option-logo {
    width: 70px;
    height: 45px;
    object-fit: contain;
    background-color: white;
    border-radius: 10px;
    z-index: 4;
    transition: all 1s;
}
#contact-option-logo-1 {
    padding: 0px 10px;
    transform: translateX(55px);
}
#contact-option-logo-2 {
    transform: translateX(130px);
    transition: all 1.5s;
}
#contact-option-logo-3 {
    padding: 0px 5px;
    transform: translateX(60px);
}
@media screen and (max-width: 650px) {
    #contact-details {
        grid-column: 1 / span 2;
    }
    #profile-photo-container {
        grid-row: 1 / span 1;
    }
}


#animated-section {
    display: flex;
    justify-content: center;
}
#animated-container {
    display: flex;
    flex-flow: nowrap;
    height: 20px;
    justify-content: center;
    place-self: center;
    margin-bottom: 50px;
    --timing: 5;
}
.animated-block {
    width: 5px;
    margin-right: 1px;
    height: 20px;
    transform: scale(80%);
    animation: wave infinite linear;
    animation-duration: calc(1s*var(--timing));
    border-radius: 5px;
}
#animated-block-2 {
    animation-delay: calc(0.05s*var(--timing));
}
#animated-block-3 {
    animation-delay: calc(0.1s*var(--timing));
}
#animated-block-4 {
    animation-delay: calc(0.15s*var(--timing));
}
#animated-block-5 {
    animation-delay: calc(0.2s*var(--timing));
}
#animated-block-6 {
    animation-delay: calc(0.25s*var(--timing));
}
#animated-block-7 {
    animation-delay: calc(0.3s*var(--timing));
}
#animated-block-8 {
    animation-delay: calc(0.35s*var(--timing));
}
#animated-block-9 {
    animation-delay: calc(0.4s*var(--timing));
}
#animated-block-10 {
    animation-delay: calc(0.45s*var(--timing));
}
#animated-block-11 {
    animation-delay: calc(0.5s*var(--timing));
}
#animated-block-12 {
    animation-delay: calc(0.55s*var(--timing));
}
#animated-block-13 {
    animation-delay: calc(0.6s*var(--timing));
}
#animated-block-14 {
    animation-delay: calc(0.65s*var(--timing));
}
#animated-block-15 {
    animation-delay: calc(0.7s*var(--timing));
}
#animated-block-16 {
    animation-delay: calc(0.75s*var(--timing));
}
#animated-block-17 {
    animation-delay: calc(0.8s*var(--timing));
}
#animated-block-18 {
    animation-delay: calc(0.85s*var(--timing));
}
#animated-block-19 {
    animation-delay: calc(0.9s*var(--timing));
}
#animated-block-20 {
    animation-delay: calc(0.95s*var(--timing));
}
@keyframes wave {
    0% {transform: scale(80%);
    background-color: black;}
    25% {transform: scale(150%);
    background-color: rgb(0,255,0);}
    50% {transform: scale(80%);
    background-color: black;}
}


#about-website {
    display: flex;
    flex-flow: column nowrap;
    background-image: linear-gradient(rgb(117, 117, 117), rgb(50, 50, 50));
    padding: 10px 15px;
    margin: 20px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    align-items: center;
}
.website-details {
    background-color: rgb(58, 58, 58);
    padding: 2px 10px;
    margin: 2px 0px;
    border-radius: 10px;
    font-size: 15px;
    width: fit-content;
}
#update-log-link {
    color: rgb(50, 100, 255);
}
#update-log-link:hover {
    text-decoration: underline;
}
.website-image-details {
    background-color: rgb(100, 100, 100);
    margin: 2px 0px;
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 15px;
}



/* All Static Animations */
.mouse-over {
    text-decoration: underline;
}
.mouse-not-over {
    text-decoration: none;
}


/* All Dynamic Animations */
    .scroll-hidden {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1s;
    }
    .scroll-show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }


.filter-hidden {
    display: none
}
.sort-hidden {
    display: none
}
